<h1>Welcome, this will be some sort of Dashboard</h1>

<br />

<%= link_to 'Join Game', :controller => 'user', :action => 'show_games' %><br />
<%= link_to 'Setup Game', :controller => 'games', :action => 'new' %><br />

<br />

<% @games.each_pair do |k,v| %>
	<%= link_to v[:game_name] + ", " + v[:map_name], :controller => 'game', :action => 'launch', :params => { :game_uuid => k} %>
	<br />
<% end %>