<h1>Join game</h1>

<% form_tag '/join' do -%>

	<%
	#init
	game = Game.new
	games = game.get_games
	%>
	<% games.each do |g| %>
		<%= radio_button_tag :game_uuid, g[:uuid] %>
		<% map = Map.new
		m = map.get_map(g[:map_uuid]) %>
		<%= label_tag m[:name] %><br />
	<% end %>
	

  <%= submit_tag 'Join' %>
  
<% end %>

<%= link_to 'Back', games_path %>